mixin renderIntro(details)
  .intro(class="flex flex-wrap")
    h1.intro__title(class="w-full md:w-1/3")= details.title
      span.subheading-3= details.category
    p.intro__description(class="w-full md:w-1/2")= details.description

mixin renderColorCards(colors)
  each color in colors
    div(class='color-card bgcolor-' + color.background + ' color-' + color.foreground)
      .color-card__title
        span.truncate <strong>#{color.background}</strong> (##{color.hex})
        span #{color.foreground} (text)
      .color-card__info
        a(href="https://www.colorbook.io/hexcolors/view/" + color.hex, target="_blank", rel="noopener noreferrer") View details

mixin renderIllustrations(illustrations)
  each illustration in illustrations
    - const SVG_PATH = '/illustrations/min/' + illustration + '.svg';
    .row
      .col
        section.illustration-stage
          img(src=SVG_PATH)

      .col.col-third
        section.resource-cards
          a.resource-card(target='_blank', href=SVG_PATH)
            img(src='/images/vendor/svg-logo.png')
            span #{illustration} (<strong>.svg</strong>)

mixin renderElevatedBox(elevations)
  each elevation in elevations
    div(class="shadow-transition shadow-elevation-" + elevation)
      h2= elevation
