mixin renderIntro(details)
  .intro
    h1.intro__title= details.title
      span.subheading-3= details.category
    p.intro__description= details.description

mixin renderColorCards(colors)
  each color in colors
    div(class='color-card bgcolor-' + color.type)
      .color-card__title= color.type
      .color-card__info
        code ##{color.hex}
        a(href="https://www.colorbook.io/hexcolors/view/" + color.hex, target="_blank", rel="noopener noreferrer") Details

mixin renderIllustrations(illustrations)
  each illustration in illustrations
    - const SVG_PATH = '/illustrations/min/' + illustration + '.svg';
    .row
      .col
        section.illustration-stage
          img(src=SVG_PATH)

      .col.col-third
        section.resource-cards
          a.resource-card(target='_blank', href=SVG_PATH)
            img(src='/images/vendor/svg-logo.png')
            span #{illustration} (<strong>.svg</strong>)

mixin renderElevatedBox(elevations)
  each elevation in elevations
    div(class="shadow-transition shadow-elevation-" + elevation)
      h2= elevation
